.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto;
    max-width: 23%;
    border-radius: 10px;

}
.row{
    display: flex; 
}
.button {
    width: 60px;
    height:60px;
    margin: 5px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
}
input{
   
   
    width: 90%;
    height: 150px;
    background-color:black;
    color: white;
    font-size: 35px;
    border: solid white;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px;
}
@media screen and (max-width:971px){
    
input{
    border: none;
    height: 130px;
}
.container{
    margin: 0 auto;
    max-width: 100%;
   
}
.button{
    width:85px;
    height:85px;
    border-radius:40px ;
    font-size: 35px;
    color: black;
}

}